html { 
  background-color: #1A1235;
}

h1 {
  text-align: center;
  color: #b6f0f3;
 }

h2{
  text-align: center;
  color: #b6f0f3;
}

h3{
  text-align: center;
  color: #b6f0f3;
}

h4{
  color: #b6f0f3;
}

p{
  text-align: center;
  color: #b6f0f3;
  font-size: large;
}

.topnav {
  background-color: #69E490;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightsteelblue;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightskyblue;
  color: blue;
}

.align-right{
  float: right;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.images{
  text-align: center;
  margin-top: 110px;  
}

.image1{
  border: 5px solid #b6f0f3;
}

.image2{
  border: 5px solid #b6f0f3;
}

.image3{
  border: 5px solid #b6f0f3;
}

.image4{
  border: 5px solid #b6f0f3;
}

.image5{
  border: 5px solid #b6f0f3;
}

.names{
  display: flex;
  margin-left: 16.5%;
  gap: 0px 9.7%;
  text-align: center;
}

