html { 
  background-color: #1A1235;
}

h1 {
  text-align: center;
  color: #b6f0f3;
 }

h2{
  text-align: center;
  color: #b6f0f3;
}

h3{
  text-align: center;
  color: #b6f0f3;
}

h4{
  color: #b6f0f3;
}

p{
  text-align: center;
  color: #b6f0f3;
  font-size: large;
}

.topnav {
  background-color: #69E490;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightsteelblue;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightskyblue;
  color: blue;
}

.align-right{
  float: right;
}

.images{
  display: flex;
  flex-direction: row;
  margin-top: 110px;  
  justify-content: center;
}

.image1{
  border: 5px solid #b6f0f3;
}

.image2{
  border: 5px solid #b6f0f3;
}

.image3{
  border: 5px solid #b6f0f3;
}

.image4{
  border: 5px solid #b6f0f3;
}

.image5{
  border: 5px solid #b6f0f3;
}

@media screen and (min-width: 1700px){
  .topnav a {
    font-size: 30px;
  }

  h1 {
    font-size: 60px;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 25px;
  }

  h4{
    font-size: 20px;
  }

  img{
    height: 300px;
    width: 300px;
  }
}