 /* set page color */
html {background-color: lightblue}
h1 {
  text-align: center;
  color: blue;
 }

h2{
  text-align: center;
  color: blue;
}

p{
  text-align: center;
  color: blue;
  font-size: large;
}
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightsteelblue;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightskyblue;
  color: blue;
}
section
{
 display: flex;
}
figure1
{
 float:left;
 
}
figure2
{
 float:center;
}
figure3
{
 float:center;
}
figure4
{
 float:center;
}
figure5
{
 float:right;
}
 figcaption
 {
  color:light grey;
 }
