html {background-color: #1A1235}
h1 {
    text-align: center;
    color: #b6f0f3;
}

h3{
    text-align: center;
    color: #b6f0f3;
}
.topnav {
    background-color: #69E490;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: lightsteelblue;
    color: white;
}

.topnav a.active {
    background-color: lightskyblue;
    color: white;
}

.align-right{
    float: right;
  }

.sleep-log h2 {
    color: #b6f0f3;
    text-align: center;
}

#sleepStats p {
    text-align: center;
    color: #b6f0f3;
}

footer .footer a {
    display: block;
    text-align: center;
    color: blue;
}

label{
    color: #b6f0f3;
}

.header{
    font-size: 20px;
}

.calculate {
    padding: 5px;
    background-color: #b6f0f3;
    color: blue;
    margin-left: 47%;
    border-radius: 5px;
    font-size: 18px;
}

.calculate:hover{
    animation-name: gelatine;
    animation-duration: 3s;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.8, 1.0); }
    50% { transform: scale(1.0, 0.8); }
    75% { transform: scale(0.97, 1.08); }
}
  
.month{
    color: blue;
    background-color: #b6f0f3;
    font-size: 20px;
}

.sleep-hours-input {
    background-color: #b6f0f3;
    font-size: 20px;
}

.dailySleepInputs{
    margin-left: 5%;
}

.sleep-hours-input::placeholder {
    color: blue;
}

.header {
    margin-left: 47%;
}

.dailySleepInputs {
    margin-top: 20px;
}

/* Added styles for sleep recommendations */
.sleep-recommendations h3,
.sleep-recommendations ul,
.sleep-recommendations ul li {
    text-align: center;
    color: #b6f0f3;
    font-size: 120%;
}

/* Updated styles to remove bullet points from sleep recommendations */
.sleep-recommendations ul {
    list-style-type: none;
    padding: 0;
}