html{
    background-color: #1A1235;
  }

  h1{
    text-align: center;
    color: #b6f0f3;
  }

  h2{
    color: #b6f0f3;
    display: inline;
  }

  h3{
    text-align: center;
    color: blue
  }

  h4{
    text-align: center;
    color: blue;
  }

  .topnav {
    background-color: #69E490;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: lightsteelblue;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: lightskyblue;
    color: blue;
  }

  .align-right{
    float: right;
  }
  
  p {
    color: #b6f0f3;
  }

  .showMessage{
    text-align: center;
  }

  .showButton{
    text-align: left;
  }

  .show{
    background-color: #b6f0f3;
    color: blue; 
    padding: 5px;
  }

  .show:hover {
    animation-name: gelatine;
    animation-duration: 3s;
  }

  form {
    background-color: lightskyblue;
    text-align: center;
    width: 400px;
    height: 300px;
    margin: auto;
  }    

  input[type=text] {
    background-color: #003366;
    color: #b6f0f3;
    width: 50px;
  }
  
  input[type=button] {
    background-color: #003366;
    color: #b6f0f3;
    padding: 10px 15px;
    border-radius: 8px;
    pointer-events: auto;
  }

  input[type=button]:hover {
    animation-name: gelatine;
    animation-duration: 3s;
  }

  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

  .submit {
    background-color: #003366;
    color: #b6f0f3;
    padding: 10px 15px;
    border-radius: 8px;
    pointer-events: auto;
  }

  .submit:hover {
    animation-name: gelatine;
    animation-duration: 3s;
  }

  .buttonContainer{
    text-align: left;
  }

  .button{
    background-color: #b6f0f3;
    color: blue;
    margin-right: 10px;
    margin-left: 10px;
  }

  .button:hover {
    animation-name: gelatine;
    animation-duration: 3s;
  }

  label{
    color: blue;
  }

  img{
    height: 180px;
    width: 180px;
    animation: bounce-in-right 2s ease;
  }

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .messages{
    text-align: center;
  }

  .workout-container{
    display: flex;
    padding: 10.5%
  }